.body-background{
  background-image: url("bg1.jpg");
  background-position: center;
  background-size: cover;  
}
h1{
    color:red;
    font-size: 40px;
}
#MyCanvas{
    border-style: ridge;
    border-width: 5px;
    background-color: white;
}
#clear_area{
  background-color: green;
  color: white;
  width: 120px;
  height:40px;
  font-size: 15px;
}
input{
  margin-right: 20px;
}